// Hide scrollbar for Chrome, Safari and Opera
.realtime-subtitle::-webkit-scrollbar {
  display: none;
}

// Hide scrollbar for IE, Edge and Firefox
.realtime-subtitle {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.realtime-subtitle {
  height: 100vh;
  overflow-y: auto;
}
