.subtitle-setting-modal {
  .fontsize-icon-01 {
    cursor: pointer;
  }

  .language-icon-01 {
    cursor: pointer;
  }

  .layout-icon-01 {
    cursor: pointer;
  }

  .theme-icon-01 {
    cursor: pointer;
  }
}